<IfModule mod_rewrite.c>

RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_URI} ^system.*

RewriteRule ^(.*)$ /open.php?/$1 [L]

RewriteCond %{REQUEST_URI} ^application.*

    RewriteRule ^(.*)$ /open.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ open.php?/$1 [L]

</IfModule>



<IfModule !mod_rewrite.c>

    ErrorDocument 404 /open.php

</IfModule> 