body{
	margin: 0;
	padding: 0;
	border: 0;
}
/** font load **/
@font-face {
    font-family: 'bulla';
    src: url('../fonts/bula-webfont.eot');
    src: url('../fonts/bula-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bula-webfont.woff') format('woff'),
         url('../fonts/bula-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.links-position-relative{
	position: relative;
}
.links-width-100{
	width: 100%;
}
.links-margin-top-10{
	margin: 10px 0 0 0;
}
.links-margin-bottom-15{
	margin-bottom: 15px !important;
}
.links-top{
	margin: 0;
	padding: 0;
}
.links-top .container{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 420px;
    display: block;
    background-image: url('../img/links-cover.png');
    background-repeat: no-repeat;
    background-size: cover !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.links-top .container .links-mask{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 420px;
    display: block;
    background-image: url('../img/cover-mask.png');
    background-repeat: no-repeat;
    background-size: cover !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
    position: relative;
}
.links-top .container .links-mask .links-head{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	background: rgb(255,255,255);
	border-bottom: solid 5px #e43f83;
}
.links-top .container .links-mask .links-head .row{
	margin: 0 auto;
	padding: 0;
	width: 1240px;
	height: 80px;
}
.links-float-left{
	float: left;
}
.links-float-right{
	float: right;
}
.links-logo{
	margin:16px 0 0 0;
	padding: 0 0 0 64px;
	height: 40px;
	float: left;
	background-image: url('../img/logo.png'); 
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 18px;
	font-family: Roboto,sans-serif;
	line-height: 40px;
	color: #e43f83;
	text-transform: uppercase;
	cursor: pointer;
}
.link-navigation{
	margin: 0;
	padding: 0;
	line-height: 80px;
	float: right;
}
.link-navigation ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.link-navigation ul li{
	margin: 0;
	padding: 0;
	width: auto;
	float: left;
	position: relative;
}
.links-myspace::after{
	content: "\f007";
    top: 26px;
    left: 0;
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
   	color: #e43f83;
    font-size: 26px;
}
.links-add-site::after{
	content: "\f067";
    top: 28px;
    left: 0;
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
   	color: #e43f83;
    font-size: 26px;
}
.links-contact::after{
	content: "\f003";
    top: 30px;
    left: 0;
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
   	color: #e43f83;
    font-size: 22px;
}
.link-navigation ul li a{
	margin: 0;
	padding: 0 20px 0 30px;
	font-family: 'bulla';
	font-size: 14px;
	color: #e43f83;
}
.link-search{
	margin: 0 auto;
	width: 100%;
}
.link-search .link-header{
	margin: 0 auto;
	padding: 20px 0;
	font-size: 30px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-family: 'bulla';
}
.link-search form{
	margin:0;
	padding: 0;
	width: auto;
	text-align: center;
	position: relative;
}
.link-search form input[type="text"]{
	margin: 0;
	padding: 0 10px;
	width: 50%;
	min-height: 50px;
	border: solid 2px #e43f83;
	font-family: 'bulla';
	font-size: 14px;
	color: #363131;
}

.link-search form .links-search-button{
	margin: 0;
	min-height: 50px;
	position: absolute;
	z-index: 1000;
	right: 25%;
	top: 0px;
}
.link-search form .links-search-button .btn-group{
	width: 100%;
}
.link-search form .links-search-button .btn{
	margin: 0;
	min-height: 50px;
	background: #e43f83;
	font-family: 'bulla';
	font-size: 14px;
}
.link-search form .links-search-button .dropdown-menu{
	background: #e43f83;
}
.link-search form .links-search-button .dropdown-menu li a{
	font-family: 'bulla';
	font-size: 14px;
	color: white;
}
.link-search form .links-search-button .dropdown-menu li a:hover{
	background: #fff;
	color: #e43f83;
}
.link-content{
	margin: -180px 0 0 0;
	padding: 0;
	width: 100%;
	position: relative;
}
.link-content .container{
	margin: 0 auto 20px auto;
	padding: 0;
	width: 1260px;
	min-height: 250px;
}
.link-webkit-shadow{
	border: solid 1px #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-animation: ozShareboxSlide .5s ease-out;
	animation: ozShareboxSlide .5s ease-out;
	-webkit-border-radius: 0;
	-webkit-box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
	box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
	-webkit-transition: left .4s cubic-bezier(0.175,0.885,0.320,1.275),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;
	transition: left .4s cubic-bezier(0.175,0.885,0.320,1.275),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;
}
.link-content .container .row{
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fff;
}
.page-header{
	margin: 0;
	padding: 0;
	border: 0;
}
.page-header h1{
	margin: 0;
	padding: 10px;
	font-family: 'bulla';
	font-size: 24px;
}
.breadcrumb{
	border-bottom:solid 1px #e43f83;
	background: none;
}
.breadcrumb li a{
	color: #e43f83;
	font-family: 'bulla';
	font-size: 14px;
}
.breadcrumb > .active{
	color: #555555;
}
.links-column{
	margin: 0;
	padding: 10px;
	text-align: center;
	position: relative;
	cursor: pointer;
	display: block;
}
.links-column .thumbnail{
	margin-bottom: 0px;
}
.links-column .thumbnail .icon{
	margin: 0;
	padding: 40px 0 0 0;
	width: 100%;
	height: 120px;
	background: #e43f83;
	text-align: center;
}
.links-column .thumbnail .icon i{
	margin: 0;
	padding: 0;
	font-size: 38px;
	color: #ffffff;
}
.links-column .thumbnail .datas{
	margin: 0;
	padding: 0;
}
.links-column .thumbnail .data{
	margin: 0;
	padding: 5px 0;
	font-family: 'bulla';
	font-size: 18px;
	line-height: 20px;
	color: #e43f83;
}
.links-column .thumbnail .counter{
	margin: 0;
	padding: 0 5px;
	background: #fff;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #e43f83;
	font-family: 'bulla';
	font-size: 12px;
}
.links-column .thumbnail .website-logo{
	margin: 0;
	padding: 0;
	width: 100%;
}
.links-column .thumbnail .website-logo img{
	width: 100%;
}
.info{
	margin: 0;
	width: 100%;
	text-align: left;
}
.info a{
	font-size: 16px;
	line-height: 28px;
	font-family: 'bulla';
	text-align: left;
	color: #666666;
}
.views{
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	font-family: 'bulla';
	text-align: left;
	color: #ccc;
}
.views a{
	margin:0;
	padding: 0;
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	font-family: 'bulla'; 
}
.breadcrumb{
	margin-bottom: 0px;
}
.registration form{
	margin: 0;
	padding: 0;
	width: 100%; 
}
.registration h3{
	margin: 0;
	padding: 10px 0;
	font-size: 14px;
	font-family: 'bulla';
	color: #e43f83;
	text-align: left;
}
.registration form .form-group{
	margin: 5px 0;
	padding: 0;
	width: 100%;
}
.registration form .form-group input[type="text"]{
	margin: 0;
	padding: 0 10px;
	font-size: 12px;
	font-family: 'bulla';
	text-align: left;
	color: #555555;
	width: 100%;
}
.registration form button[type="submit"]{
	margin: 10px 0;
	font-family: 'bulla';
	text-align: left;
	color: #555555;
}
.registration form button[type="submit"]:hover{
	background: #e43f83;
	color: #ffffff;
}
.alert{
	padding: 5px 10px 5px 35px;
	margin-bottom: 10px;
	position: relative;
	font-size: 14px;
	font-family: 'bulla';
}
.alert-danger{
	background: #e43f83;
	color: #fff;
}
.alert-success{
	color: #555555;
}
.alert-danger::after{
	content: "\f071";
    position: absolute;
    left: 11px;
    top: 8px;
    color: #fff;
    font: normal normal normal 16px/1 FontAwesome;
}
.alert-success::after{
	content: "\f00c";
    position: absolute;
    left: 11px;
    top: 8px;
    color: #555555;
    font: normal normal normal 16px/1 FontAwesome;
}
.margin-0-auto{
	margin: 0 auto;
}
.add-website-thub{
	margin: 10px 0px;
	padding: 0;
	width: 100%;
}
.add-website-thub .box{
	width: 100%;
	min-height: 90px;
	margin: 0;
	padding: 10px;
}
.add-website-thub .box img{
	margin: 0;
	padding: 0;
	width: 100%;
}
.links-footer{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 35px;
}
.links-footer .container{
	margin: 0;
	padding: 0;
	width: 100%;
}
.links-footer .col-footer-row{
	margin: 0 auto;
	width: 1240px;
}
.links-footer .col-footer-row .copy{
	margin: 0;
	padding: 0;
	width: auto;
	font-size: 12px;
	color: #555555;
	font-family: 'bulla';
	float: left;
	text-align: left;
}

.links-footer .col-footer-row .counters{
	margin: 0;
	padding: 0;
	width: auto;
	float: right;
}
.links-checkbox{
	width: 20%;
}
.links-checkbox{
	width: 80%;
}
/*OWL carousel START*/
#owl-example .item{
	padding: 0px;
	margin: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	border:solid 1px #ccc;
	background: #fff;
}
#owl-example .item h3{
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	font-family: 'bulla';
}
#owl-example .item h4{
	margin: 0;
	padding: 0;
}
#owl-example .item h4 a{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: 'bulla';
}
.owl-carousel .owl-item{
	float: left;
}
#owl-example .item img{
	margin: 0 auto;
	display: block;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.links-contact-info{
	margin: 0;
	padding: 0 15px;
}
.links-contact-info h3{
	font-size: 16px;
	line-height: 16px;
	font-family: 'bulla';
	text-align: left;
}
.links-contact-info p{
	font-size: 14px;
	line-height: 14px;
	font-family: 'bulla';
	text-align: left;
}
.links-contact-info p a{
	font-size: 14px;
	line-height: 14px;
	font-family: 'bulla';
	text-align: left;
	color: #e43f83;
}
.links-navigation-userarea{
	margin: 10px 0px;
	padding: 0;
	border: solid 1px #cccccc;
}
.links-navigation-userarea ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.links-navigation-userarea ul .active a{
	background: #e43f83;
	color: #ffffff;
}
.links-navigation-userarea ul .active a:hover{
	background: #e43f83;
	color: #ffffff;
}
.links-navigation-userarea ul li a:hover{
	background: #e43f83;
	color: #ffffff;
}
.links-navigation-userarea ul li a{
	color: #555555;
}
/*OWL carousel END*/


@media screen and (max-width: 1240px) {
	.links-top .container .links-mask .links-head .row{
		margin: 0 5%;
		width: 90% !important;
	}
	.link-content .container{
		margin: 0 5% 20px 5%;
		width: 90%;
	}
	.col-footer-row{
		margin: 0 10px;
		width: 90% !important;
	}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 991px) {
	.link-navigation ul li{
		margin: 0 15px;
		width: 20px;
		height: 80px;
	}
	.link-navigation ul li a{
		display: none;
	}
	.links-hide-tablet{
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.link-navigation ul li{
		margin: 0 5px;
		width: 20px;
		height: 80px;
	}
	.links-hide-smartphone{
		display: none;
	}
	.link-search{
		margin: 60px auto;
	}
	.links-column .thumbnail .data{
		font-size: 14px !important;
	}
}

@media screen and (max-width: 390px) {
	.link-navigation{
		display: none;
	}
	.link-search form input[type="text"]{
		width: 90% !important;
	}
	.link-search form .links-search-button{
		right: 5% !important;
	}
	.link-search{
		margin: 30px auto !important;
	}
	.link-content{
		margin: -230px 0 0 0;
	}
	.links-column .thumbnail .data{
		font-size: 12px !important;
	}
}